<header class="p-3 bg-dark text-white fixed-top"
  style="margin-top: 87px;background-color: #33486E!important; z-index: 9;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white head-text">Конференции</a></li>
        <li><a href="#" class="nav-link px-2 text-white head-text">Мои статьи</a></li>
        <li><a href="#" class="nav-link px-2 text-white head-text">Контакты</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Сама конференция админка / обычная -->


<section id="personal-account__admin">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref">
        <div class="d-inline-flex align-items-center col-10" >
          <div class="pref-search-text text-black"> 
            Поиск конференции
          </div>
          <input class="input-search" type="text">
          <a href="#" class="pref-options"><svg width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.7778 4.44434L28.5555 4.44434" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M0.999985 28.5557L6.16665 28.5557" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M0.999977 4.44434L7.88887 4.44434" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M13.0555 28.5557L28.5555 28.5557" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M23.3889 16.5L28.5555 16.5" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M0.999977 16.5L16.5 16.5" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
            <circle cx="11.3333" cy="4.44444" r="3.44444" transform="rotate(90 11.3333 4.44444)" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
            <circle cx="19.9444" cy="16.5001" r="3.44444" transform="rotate(90 19.9444 16.5001)" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
            <circle cx="9.6111" cy="28.5558" r="3.44444" transform="rotate(90 9.6111 28.5558)" stroke="#212529" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
          </a>
          <button type="button" class="btn btn-pref text-white">Применить</button>
        </div>
        
        <div class="d-inline-flex align-items-center justify-content-end col-2" >
          <button type="button" class="btn btn-pref-add text-white" data-bs-toggle="modal" data-bs-target="#windowAddConf">+</button>
          </div>
        
      </div>
      
      

      <div class="row konf-list">

        <!-- <div class="col-md-3 konf-item-outer" *ngFor="let conf of this.conferences"> -->

          <div class="konf-item">
            <div class="img-info-conf"> 
              <img src="../../../assets/pictures/conf-images/demo-img.png" alt="">
            </div>
            <div class="general-info-conf"> 
              <!-- <div class="konf-name">{{conf.title}}</div>
              <div class="konf-organization text-black">{{conf.organization}}</div>
            </div>
            <div class="second-info-conf">
              <div class="konf-description text-black">Описание: {{conf.description}}</div>
              <div class="konf-status text-black">Статус: {{conf.status}}</div>
              <div class="konf-timeDate text-black">Дата начала: {{conf.startDate}}</div>
              <div class="konf-timeDate text-black">Дата конца: {{conf.endDate}}</div> -->
                <!-- <div class="row justify-content-end">
                    <button type="button" class="btn btn-konf text-white px-1">Открыть</button>
                </div>
            </div> -->

          </div>
        </div>



      </div>
    </div>
  </div>
</section>
