<header class="p-3 bg-dark text-white fixed-top"
  style="margin-top: 87px;background-color: #33486E!important; z-index: 9;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li (click)="toPage('conferences')"><a class="nav-link px-2 text-white head-text">Конференции</a></li>
        <li (click)="toPage('my-jobs')"><a class="nav-link px-2 text-white head-text">Мои статьи</a></li>
        <li (click)="toPage('all-users')" *ngIf="isSuperAdmin()"><a class="nav-link px-2 text-white head-text">Пользователи</a></li>
        <li><a href="#" class="nav-link px-2 text-white head-text">Контакты</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Сама конференция админка / обычная -->


<section id="conference">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref">
        <div class="d-inline-flex align-items-center col-8">
          <div class="conf-name-adress text-black">
            Конференции / {{this.currentConference.title}}
          </div>
        </div>
        <div class="d-inline-flex align-items-center col-4 text-black" *ngIf="isSuperAdmin()" style="height: 17px;">
          Администратор
          <div class="conf-name-adress text-black" style="width: 100%;">
            <div class="form-floating mb-3">
              <select class="form-select rounded-1" style="height: 47px; padding: 15px; margin-top: 15px;"
                      formControlName="status">

                <option [ngValue]="undefined" style="font-size: 16px;">Выберите</option>
                <option *ngFor="let user of admins">{{ user.fullName }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>



      <div class="row konf-information">
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-12 conf-title text-black">{{this.currentConference.title}}</div>
          <div class="col-4 conf-info-text text-black">Организация: {{this.currentConference.organization}}</div>
          <div class="col-4 conf-info-text text-black text-center">Дата начала: {{this.currentConference.startDate}}</div>
          <div class="col-4 conf-info-text text-black text-end">Дата завершения: {{this.currentConference.endDate}}</div>
          <div class="col-4 conf-info-text text-black ">Статус: {{ this.statusMap.get(this.currentConference.status) }}</div>
          <div class="col-4 conf-info-text text-black text-center"><span *ngIf="isAdminConference()">Количество участников: {{this.currentConference.countUsers}}</span></div>
          <div class="col-4 conf-info-text conf-btn-users-list text-black text-end"><a *ngIf="isAdminConference()" (click)="checkUsers()">Перейти к списку участников</a></div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
          <div class="row conf-info-section-item">
            <div class="col-6 conf-info-section" style="padding-right: 5px;">
              <div class="conf-section-title text-center text-white">Секция</div>
            </div>
            <div class="col-6 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white">Руководитель</div>
            </div>
          </div>

          <div class="row conf-info-section-item" *ngFor="let section of this.sections">
            <div class="col-6 conf-info-section" style="padding-right: 5px;">
              <div class="section-text text-center text-black">{{section.title}}</div>
            </div>
            <div class="col-6 conf-info-section" style="padding-left: 5px;">
              <div class="section-text text-center text-black">{{section.leaderName}}</div>
            </div>
          </div>
        </div>
        <div class="row align-items-center" style="margin-bottom: 20px;">
          <div class="col-12 conf-desc">
            <div class="conf-info-text text-black" style="margin: 0px;">Описание: {{this.currentConference.description}}</div>
          </div>
        </div>

        <div class="row align-items-center" style="margin-bottom: 20px;">
          <div class="col-4 conf-info-text text-black">

          </div>
          <div class="col-4 conf-info-text text-black text-center">
            <button type="button" class="btn btn-pref text-white" *ngIf="isAdminConference()">Изменить</button>
            <button type="button" class="btn btn-pref text-white" *ngIf="!isAdminConference()">Добавить</button>
          </div>
          <div class="col-4 conf-info-text text-black text-end">

          </div>
        </div>


        <!--<div class="konf-description text-black">Описание: {{conf.description}}</div>-->
      </div>
    </div>
  </div>
</section>
