<header class="p-3 bg-dark text-white fixed-top"
  style="margin-top: 87px;background-color: #33486E!important; z-index: 0;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li (click)="toPage('conferences')"><a class="nav-link px-2 text-white head-text">Конференции</a></li>
        <li (click)="toPage('my-jobs')"><a class="nav-link px-2 text-white head-text">Мои статьи</a></li>
        <li><a href="#" class="nav-link px-2 text-white head-text">Контакты</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Список пользователей -->

<section id="client_account_conference">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main_conference" >

          <div class="row">
            <div class="col-md-6">
              <div class="konf-name">Название</div>
              <div class="konf-organization text-white">Организатор</div>

            </div>
            <div class="col-md-6 text-end">
              <div class="konf-status">Статус конференции</div>
              <div class="konf-timeDate">15:00 23.11.2023 - 15:00 31.12.23</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 konf-info-block">
              <div class="konf-info text-white">Описание</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="padding-right: 3px; padding-left: 0px;">
              <div class="konf-section-block text-center">
                <div class="konf-section-title text-white">Секция</div>
              </div>
            </div>
            <div class="col-md-6" style="padding-left: 3px; padding-right: 0px;">
              <div class="konf-lead-block text-center">
                <div class="konf-section-lead text-white">Руководитель</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="padding-right: 3px; padding-left: 0px;">
              <div class="konf-section-block text-center">
                <div class="konf-title text-white">Секция 1</div>
              </div>
            </div>
            <div class="col-md-6" style="padding-left: 3px; padding-right: 0px;">
              <div class="konf-lead-block text-center">
                <div class="konf-lead text-white">Руководитель 1</div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-4">
              <button type="button" class="btn btn-konf-reg text-white px-1" data-bs-toggle="modal" data-bs-target="#windowReview" >Регистрация</button>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>
