<header class="p-3 bg-dark text-white fixed-top"
        style="margin-top: 87px;background-color: #33486E!important; z-index: 9;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li (click)="toPage('conferences')"><a class="nav-link px-2 text-white head-text">Конференции</a></li>
        <li (click)="toPage('my-jobs')"><a class="nav-link px-2 text-white head-text">Мои статьи</a></li>
        <li><a href="#" class="nav-link px-2 text-white head-text">Контакты</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Сама конференция админка / обычная -->


<section id="jobs">
  <div class="container">

    <div class="main">
      <div class="row d-flex align-items-center konf-pref">
        <div class="d-inline-flex align-items-center col-10">
          <div class="conf-name-adress text-black">
            Конференции / {{ this.currentConference.title }}
          </div>
        </div>
      </div>


      <div class="row konf-information">
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-12 conf-title text-black">{{ this.currentConference.title }}</div>
          <div class="col-4 conf-info-text text-black">Организация: {{ this.currentConference.organization }}</div>
          <div class="col-4 conf-info-text text-black text-center">Дата начала: {{ this.currentConference.startDate }}
          </div>
          <div class="col-4 conf-info-text text-black text-end">Дата завершения: {{ this.currentConference.endDate }}
          </div>
          <div class="col-4 conf-info-text text-black ">
            Статус: {{ this.statusMap.get(this.currentConference.status) }}
          </div>
          <div class="col-4 conf-info-text text-black text-center"><span
            *ngIf="isAdmin()">Количество участников: {{ this.currentConference.countUsers }}</span></div>
          <div class="col-4 conf-info-text conf-btn-users-list text-black text-end"><a *ngIf="isAdmin()"
                                                                                       (click)="downloadJobs()">Скачать
            все работы</a></div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
          <div class="row conf-info-section-item">
            <div class="col-3 conf-info-section">
              <div class="conf-section-title text-center text-white">Фамилия И.О.</div>
            </div>
            <div class="col-3 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white">Название</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white">Секция</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white">Изменен</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="conf-section-title text-center text-white">Управление</div>
            </div>
          </div>

          <div class="row conf-info-section-item" *ngFor="let job of this.jobs">
            <div class="col-3 conf-info-section">
              <div class="jobs-list-text text-center text-black">{{ job.userName }}</div>
            </div>
            <div class="col-3 conf-info-section" style="padding-left: 5px;">
              <div class="jobs-list-text text-center text-black">{{ job.title }}</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="jobs-list-text text-center text-black">{{ job.sectionTitle }}</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="jobs-list-text text-center text-black">{{ job.dateTime }}</div>
            </div>
            <div class="col-2 conf-info-section" style="padding-left: 5px;">
              <div class="jobs-list-text text-center text-black">{{ job.id }}</div>
            </div>
          </div>
        </div>

        <!--<div class="konf-description text-black">Описание: {{conf.description}}</div>-->
      </div>
    </div>
  </div>
</section>
